.main-content-wrap {
    display:       block;
    max-width:     map-get($main-content, max-width);
    margin:        0 auto;
    padding-right: map-get($main-content, padding-right-left);
    padding-left:  map-get($main-content, padding-right-left);
}

.table-of-contents {
  position: sticky;
	top: 6rem;
  align-self: start;
  font-size: 1.4rem;
  padding: 0 10px 0 0;
  min-width: 300px;
}

@media (max-width: 767px) {                  
  .table-of-contents {
     display: none;
  }
}